rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Customer meter photos are written by the assistant service, not the website.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
